@model IEnumerable<Arackiralama.Models.Blog>
@{
    ViewBag.Title = "Blog Listesi";

}

<div class="row">
    @if (ViewBag.Message != null)
    {
        <div class="col-12 mb-3">
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        </div>
    }
    <div class="col-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Blog Sayfası Listesi</h2>
            </header>
            <div class="card-body">
                <table id="BlogList" class="table table-responsive-md table-striped mb-0 table-bordered">
                    <thead>
                        <tr>
                            <th>Dil</th>
                            <th>Blog Başlığı</th>
                            <th>Vitrin Yazısı</th>

                            <th>Aktif mi ?</th>
                            <th>Düzenle</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Cultures.Name
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td> @item.ShowCaseDescription</td>

                                <td>
                                    @item.IsActive
                                </td>
                                <td>
                                    <a href="@Url.Action("BlogEdit","Content",new { id = item.ID })" class="btn btn-info">Düzenle</a>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section scripts{

    <script src="~/DataTables/DataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#BlogList').DataTable();
        });
    </script>

}
